*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --hour-length: 200px;
    --minute-length: 250px;
    --second-length: 300px;
    --clock-bgcolor: rgb(189, 189, 189);
    --sui-color: black;
}
.container{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.clockContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.clockContainer h3{
    text-align: center;
    margin-top: 1.5rem;
}
.clockBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
}

/* Styling Hour, Minut, and Second Sui */
.sui{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: rotate(90deg);
}
.suiBox{
    display: flex;
    align-items: center;
    position: absolute;
}
.hiddenSui{
    background-color: transparent;
    max-width: 50%;
    min-width: 50%;
}
.hourSui{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--hour-length);
    height: 10px;
    background-color: red;
    color: white;
    font-size: 8px;
    border-radius: 50%;
}
.minuteSui{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--minute-length);
    height: 7px;
    background-color: #143e8b;
    color: white;
    font-size: 7px;
    border-radius: 50%;
}
.secondSui{
    width: var(--second-length);
    height: 3px;
    background-color: #9826ff;
}
.clockSui{
    position: absolute;
    max-width: 50%;
    min-width: 50%;
}
.round{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #9826ff;
    position: absolute;
    z-index: 1;
}

/* Clock Background Digit Styling */
.timeDigitBox{
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    height: 30px;
}
.timeDigit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    font-weight: 600;
    width: 100%;
    position: absolute;
}
.ten-four{
    transform: rotate(30deg);
}